# python related 
.idea/
.vscode/
__pycache__/
.ipynb_checkpoints/

# data
data/*
!data/.gitkeep
!data/dev/.gitkeep
!data/raw/.gitkeep
!data/preprocessed/.gitkeep
saved_models/*
!saved_models/.gitkeep
images/*
!images/.gitkeep
