# python related 
.idea/
.vscode/
__pycache__/
.ipynb_checkpoints/

# data
data/dev/*
!data/dev/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/preprocessed/*
!data/preprocessed/.gitkeep

saved_models/*
!saved_models/.gitkeep
!saved_models/results.txt
!saved_models/mse_by_rating.txt
!saved_models/rank_corr.txt
!saved_models/top_k_features.txt
images/*
!images/.gitkeep
