# python related 
.idea/
.vscode/
__pycache__/
.ipynb_checkpoints/

# data
data/dev/*
!data/dev/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/preprocess/*
!data/preprocess/.gitkeep

saved_models/*
!saved_models/.gitkeep
images/*
!images/.gitkeep
